.pixel {
    background-color: lightgrey;
    margin: 0;
}

#container-main {
    margin: 0 auto;
    border: solid black 1px;
    width: 960px;
    display: flex;
    flex-wrap: wrap;
}

.active {
    background-color: black;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }