.pixel {
    height: 32px;
    width: 32px;
    background-color: red;
    margin: 0;
}

#container-main {
    width: 512px;
    display: flex;
    flex-wrap: wrap;
}

.active {
    background-color: blue;
}